/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Baloo Tamma 2', cursive;
}

body{
    /* background-color: #f8f9fa; */
    color: #545454;
}
header{
    margin: 20px 0;
    /* background-color: #f8f9fa; */
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 40px;
}