/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    /* text-decoration: none; */
    font-family: 'Baloo Tamma 2', cursive;
}

body{
    /* background-color: #f8f9fa; */
    color: #545454;
}
header{
    margin: 20px 0;
    /* background-color: #f8f9fa; */
    text-align: center;
}
.sub-header{
    text-align: right;
    margin-right: 200px;
    font-size: 28px;
}

h1{
    font-size: 40px;
}

.terminal{
    margin: 20px 0;
    background-color: #f8f9fa;
    border: solid 1px rgba(116, 116, 116, 0.705);
    color: #545454;
    /* height: 600px; */
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    /* box-shadow: 1px 1px 15px #545454; */
    margin-bottom: 20px;
}

.terminal-head{
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px rgba(116, 116, 116, 0.705);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 18px;
}
.termnal-btn-container{
    width: 100px;
    /* background-color: green; */
    display: flex;
}

.terminal-btn{
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    background-color: #d87d7d;
}

.terminal-btn + .max{
    background-color: #f0ad4e;
}
.terminal-btn + .min{
    background-color: #45b29a;
}


nav{
    margin-right: 20px;
    padding: 0;
    margin: 0;
}

nav a{
    margin: 0 5px;
    display: inline;
    padding: 0 10px;
    text-decoration: none;
    color: grey;
}
nav a:hover{
    background-color: grey;
    color: #fff;
}

.terminal-header{
    margin: 20px 0;
    /* background-color: #f8f9fa; */
    text-align: center;
}

.terminal-body{
    width: 90%;
    margin: 0 auto;
    height: 500px;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
}

.t-container{
    margin: 0 auto;
    text-align: center;
    /* color: gray; */
    font-size: 22px;
}

.t-container + .left{
    width: 40%;
}

.t-container + .right{
    width: 60%;
}

.logo{
    width: 200px;
    border: 5px solid #ffffff;
    border-radius: 200px;
}

.mobile-menu{
    display: none;
    background-color: gray;
    color: white;
    padding: 0 10px;
    padding-top: 10px;
    outline: none;
}
.close-btn{
    /* display: none; */
    /* background-color: gray; */
    color: #f8f9fa;
    padding: 0 10px;
    padding-top: 10px;
    /* margin-left: auto; */
    float: right;
    font-size: 25px;
    /* margin-top: 200px; */
}

.menu-modal{
    position: fixed;
    height: 40vh;
    width: calc(100% - 200px/2);
    top: 80px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    /* background-color: #f8f9fa; */
    background: gray;
    border-radius: 20px;
    display: none;
    opacity: 0.9;
    animation: popup 0.7s;
}
.sm-menu{
    height: inherit;
    /* width: ; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.sm-menu a{
    color: #fff;
    text-decoration: none;
}

@media (max-width:800px){
    .terminal-body{
        flex-direction: column;
        height: auto;
    }
    h1{
        font-size: 30px;
    }
    .sub-header{
        font-size: 24px;
        margin-right: auto;
        text-align: center;
    }
    .t-container{
        margin-top: 20px;
        font-size: 20px;
    }
    .t-container + .left{
        margin-bottom: 50px;
        width: auto;
        height: auto;
    }
    .t-container + .right{
        width: auto;
    }
    nav{
        display: none;
    }
    
    .mobile-menu{
        display: block;
    }
    /* .menu-modal{
        display: block;
    } */
    .after{
        -webkit-filter: blur(1px);
        -moz-filter: blur(1px);
        -o-filter: blur(1px);
        -ms-filter: blur(1px);
        filter: blur(2px);
    }
}

@keyframes popup {
    0%{
      transform: scale(1);
    }
    50%{
      transform: scale(1.4);
    }
    60%{
      transform: scale(1.1);
    }
    70%{
      transform: scale(1.2);
    }
    80%{
      transform: scale(1);
    }
    90%{
      transform: scale(1.1);
    }
    100%{
      transform: scale(1);
    }
  }